<ul class="sidebar-footer-nav" itemscope itemtype="http://schema.org/Organization">
  <link itemprop="url" href="https://coopcycle.org">
  <li class="sidebar-footer-nav__item">
    <a class="sidebar-footer-nav__link" href="mailto:{{ site.email }}" style="color: #87cb16"
      title="{{ site.data.common[page.lang].footer.email }}">
      <i class="fa fa-envelope"></i>
    </a>
  </li>
  <li class="sidebar-footer-nav__item">
    <a class="sidebar-footer-nav__link" href="https://zebo.app/contact" style="color: #87cb16"
      title="{{ site.data.common[page.lang].footer.contact }}" target="_blank">
      <i class="fa fa-keyboard-o"></i>
    </a>
  </li>
</ul>
<!-- <a class="fs-2" title="{{ site.data.common[page.lang].footer.zeboOpen }}"
  href="https://zebo.app">{{ site.data.common[page.lang].footer.zeboOpen }}
</a> -->